@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
// http://zhongguose.com/#youyanmo
$grey100: #93A2A9; // 正灰
$blue200: #6493AF; // 鈷藍
$blue300: #31678D; // 絨藍
$blue400: #17507D; // 海藍
$yellow300: #C77A3A; // 金黃